@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Rubik', sans-serif;
  background: #3e2c4e;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #231f29, #3e2c4e);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #231f29, #3e2c4e);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100vw;
  overflow-x: hidden; }

.card-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  margin: 50px;
  background: #654a7c;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #231f29, #3e2c4e);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #231f29, #3e2c4e);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  align-items: center; }

.flex-card-container {
  display: flex;
  justify-content: center;
  align-items: center; }

/*Card Rotation Effect*/
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 400px;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
  -webkit-box-shadow: 3px -3px 61px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px -3px 61px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 3px -3px 61px -12px rgba(0, 0, 0, 0.75); }

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d; }

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg); }

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden; }

.flip-card-front {
  background-color: #bbb;
  color: black; }

.flip-card-back {
  background-color: #231f29;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center; }

.card-back {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%; }

.card-span {
  font-family: 'Sansita Swashed', cursive;
}

.flip-card-back h3, p {
  font-size: 1.3rem;
  padding: 5px 25px; 

}

.flip-card-back small {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 1rem;
  padding: 5px 10px; }

/*Header*/
header h1 {
  font-size: 3rem;
  align-items: center;
  text-align: center;
  margin: 4rem 0; }

/*Search Bar*/
.card-search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto; }

.card-search input {
  display: flex;
  width: 35%;
  border: none;
  outline: none;
  background: transparent;
  height: 40px;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-bottom: 1px solid #000;
  color: #fff; }

::placeholder {
  color: #fff;
  font-size: 1.5rem;
  padding: 15px 5px; }

/*Spinner*/
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12rem; }

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px; }

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px; }

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px; }

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s; }

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px; }

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s; }

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px; }

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s; }

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px; }

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s; }

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px; }

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s; }

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px; }

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s; }

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px; }

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s; }

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px; }

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s; }

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px; }

@keyframes lds-roller {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/*Select Menu Filter*/
.select-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 3rem; }

.type-menu,
.color-menu,
.sort-menu {
  padding: 5px 10px;
  background: #231f29;
  color: #fff;
  font-size: 1rem;
  outline: none;
  border: 2px solid #000; }

.msg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 3rem;
  margin-top: 10rem; }
