@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*Body and Main container styling*/
body {
  font-family: 'Rubik', sans-serif; 
}

.container {
  height: 100vh;
  background: #3e2c4e;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #373041, #644b7c);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #373041, #644b7c);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  justify-content: center;
  align-items: center; }

/*Ad-Container Styling*/
.ad-container {
  background: #000;
  width: 350px;
  height: 450px;
  position: relative;
  -webkit-box-shadow: -22px 0px 50px -17px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -22px 0px 50px -17px rgba(0, 0, 0, 0.75);
  box-shadow: -22px 0px 50px -17px rgba(0, 0, 0, 0.75); }

.ad-container img {
  width: 350px;
  height: 450px;
  opacity: 0.8; }

.poster-btn {
  position: absolute;
  top: 350px;
  right: 120px;
  text-decoration: none;
  background: #644b7c;
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 1.2rem;
  align-items: center;
  text-align: center;
  opacity: 0.9; }

.poster-btn:hover {
  background: #373041; }

.poster-title {
  background: transparent;
  position: absolute;
  color: #fff; }

/*FORM CONTAINER*/
#form {
  display: flex;
  justify-content: stretch;
  align-items: center;
  margin: auto; }

.form-container {
  display: flex;
  justify-content: center;
  padding: 10px 15px;
  background: rgba(83, 83, 83, 0.2);
  width: 350px;
  height: 450px;
  -webkit-box-shadow: 19px 0px 50px -17px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 19px 0px 50px -17px rgba(0, 0, 0, 0.75);
  box-shadow: 19px 0px 50px -17px rgba(0, 0, 0, 0.75); }



.form-container input {
  border: none;
  border-bottom: 1px solid #000;
  margin: 2rem;
  padding: 2px 0;
  outline: none;
  background: transparent;
  font-size: 1.3rem;
  color: #fff;
  width: 95%; }

.form-container form {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 10px auto; }

.form-container button {
  padding: 5px 10px;
  margin: 15px auto;
  width: 97%;
  font-size: 1.2rem;
  background: #373041;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer; }

.form-container button:hover {
  background: #655177; }

.form-container button:focus {
  outline: none; }

.form-container button:active {
  transform: scale(0.98); }

::placeholder {
  color: #fff;
  opacity: 0.8; }

.error {
  font-size: 1rem;
  background: rgba(0, 0, 0, 0.5);
  color: #9e4d4d;
  padding: 5px 10px;
  display: none;
  font-weight: bold;
  width: 100%;
  text-align: center; }
